# # Miscellaneous
# *.class
# *.log
# *.pyc
# *.swp
# .DS_Store
# .atom/
# .build/
# .buildlog/
# .history
# .svn/
# .swiftpm/
# migrate_working_dir/

# # IntelliJ related
# *.iml
# *.ipr
# *.iws
# .idea/

# # The .vscode folder contains launch configuration and tasks you configure in
# # VS Code which you may wish to be included in version control, so this line
# # is commented out by default.
# #.vscode/

# # Flutter/Dart/Pub related
# **/doc/api/
# **/ios/Flutter/.last_build_id
# .dart_tool/
# .flutter-plugins
# .flutter-plugins-dependencies
# .pub-cache/
# .pub/
# /build/

# # Symbolication related
# app.*.symbols

# # Obfuscation related
# app.*.map.json

# # Android Studio will place build artifacts here
# /android/app/debug
# /android/app/profile
# /android/app/release



# Flutter/Dart specific
.dart_tool/
.build/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
pubspec.lock

# IDEs & Editors
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/app/build/
android/.cxx/
android/local.properties
android/keystore.properties
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/ephemeral/
ios/.dart_tool/
ios/Runner.xcworkspace/
ios/Runner.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# Web
web/.dart_tool/
web/.firebase/

# Linux
linux/flutter/
linux/.dart_tool/
linux/build/

# Windows
windows/flutter/
windows/.dart_tool/
windows/build/

# macOS
macos/.dart_tool/
macos/build/
macos/Flutter/ephemeral/

# Firebase
firebase.json
**/google-services.json
**/GoogleService-Info.plist

# Logs & System files
*.log
*.DS_Store
*.lock
*.pids
*.seed
*.pid
*.swp
*.swo
*.swn
*.bak

# Coverage & Testing
coverage/
coverage.lcov

# Custom environment variables
.env
